@model ProjectManagementApp.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
      
        <div class="card mb-4">
            <h5 class="card-header">Profil Detayları</h5>
            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Ad Soyad: </label>
                            @Html.DisplayFor(model => model.AdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Yetki: </label>
                            @Html.DisplayFor(model => model.Yetki)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Görev: </label>
                            @Html.DisplayFor(model => model.Gorev)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">E Posta: </label>
                            @Html.DisplayFor(model => model.Eposta)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Şifre: </label>
                            @Html.DisplayFor(model => model.Sifre)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">TC Numarası: </label>
                            @Html.DisplayFor(model => model.TCNo)
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Departman: </label>
                            @Html.DisplayFor(model => model.Departman)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Pozisyon Açıklama: </label>
                            @Html.DisplayFor(model => model.PozisyonAciklama)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Telefon Numarası: </label>
                            @Html.DisplayFor(model => model.TelNo)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Adres: </label>
                            @Html.DisplayFor(model => model.Adres)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Medeni Hal: </label>
                            @Html.DisplayFor(model => model.MedeniHal)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Yakın Bilgisi: </label>
                            @Html.DisplayFor(model => model.YakinBilgisi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Yakın TC Numarası: </label>
                            @Html.DisplayFor(model => model.YakinTc)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Yakın Ad Soyad: </label>
                            @Html.DisplayFor(model => model.YakinAdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Yakın Telefon Numarası: </label>
                            @Html.DisplayFor(model => model.YakinTel)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">İşe Giriş Tarihi: </label>
                            @Html.DisplayFor(model => model.IseGirisTarihi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Doğum Tarihi: </label>
                            @Html.DisplayFor(model => model.DogumTarihi)
                        </div>

                        
                    <div class="mt-2">
                        <a href="/PersonelBilgileris/Index" type="submit" class="btn btn-primary me-2">Anasayfaya Dön</a>
                       
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
      
    </div>
</div>

<div>
    <h4>PersonelBilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
       

    </dl>
</div>
