@model IEnumerable<ProjectManagementApp.Models.Personel.PersonelBilgileri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<div class="card">
    <h5 class="card-header">Personel Listesi</h5>
    <div class="card-body">
        <table id="personellistele" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Eposta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sifre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Yetki)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdSoyad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TCNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departman)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gorev)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TelNo)
                    </th>

                    <th>Aksiyon&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>
                        @Html.DisplayNameFor(model => model.PozisyonAciklama)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eposta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sifre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yetki)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdSoyad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TCNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departman)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gorev)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TelNo)
                        </td>

                        <td>
                            <a href="/PersonelBilgileris/Edit/@item.PersonelBilgileriId" class="btn btn-success"><span class="tf-icons bx bx-edit"></span></a>
                            <a href="/PersonelBilgileris/Details/@item.PersonelBilgileriId" class="btn btn-primary"><span class="tf-icons bx bx-detail"></span></a>
                            <a href="/PersonelBilgileris/Delete/@item.PersonelBilgileriId" class="btn btn-danger"><span class="tf-icons bx bx-trash"></span></a>
                            <a href="/PersonelBilgileris/HareketFöyü/@item.PersonelBilgileriId" class="btn btn-warning"><span class="tf-icons bx bx-history"></span></a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PozisyonAciklama)
                        </td>
                    </tr>
                }
            </tbody>




        </table>
    </div>
</div>
<script>
    $('#personellistele').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
            infoEmpty: "Gösterilecek hiç kayıt yok.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Tablo boş",
            search: "Arama:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },

            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ],
        responsive: true
    });
</script>